@model BinarySetOperatorParameters

<form asp-action="Intersect">
    <div class="row">
        @Html.LabelFor(model => model.ResultId, "Resulting Fuzzy Set Id", new { @class = "col-2" })
        <div class="col-4">
            @Html.EditorFor(model => model.ResultId)
        </div>
    </div>
    <br/>
    <div class="row">
        @Html.LabelFor(model => model.SetId, "First Fuzzy Set Id", new { @class = "col-2" })
        <div class="col-4">
            @Html.EditorFor(model => model.SetId)
        </div>
    </div>
    <br/>
    <div class="row">
        @Html.LabelFor(model => model.OtherSetId, "Second Fuzzy Set Id", new { @class = "col-2" })
        <div class="col-4">
            @Html.EditorFor(model => model.OtherSetId)
        </div>
    </div>
    <br/>
    
    <div class="form-group">
        <input type="submit" value="Intersect" class="btn btn-primary" />
    </div>
</form>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
